body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #111;
}

.video-container {
    height: 75vh;    
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;     
    object-fit: cover;
}

.image-row {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.img-box {
    position: relative;
    width: 25vw;
    height: 300px;
    overflow: hidden;
}

.info-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-box:hover .info-img {
    opacity: 0.5; 
}

.img-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    backdrop-filter: blur(1px);
}

.main-text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-family: Arial, sans-serif;
}

.main-text h1 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

.main-text p {
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.8;
}


.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover {
    opacity: 0.7;
}
